@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="row page-titles">
    <div class="col-md-12 align-self-center">
        <h1>
            Dashboard
        </h1>
    </div>
    <div class="col-md-8">
        <div class="col-md-6">
            <div class="card bg-info">
                <div class="card-body">
                    <a class="d-flex no-block" href="Invoices/Create">
                        <div class="m-r-20 align-self-center"><span class="glyphicon text-white glyphicon-euro" aria-hidden="true"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">Add a new parts invoice.</h6>
                            <h2 class="m-t-0 text-white">Add invoice</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-primary">
                <div class="card-body">
                    <a class="d-flex no-block" href="Invoices">
                        <div class="m-r-20 align-self-center"><span class="glyphicon text-white glyphicon-list-alt" aria-hidden="true"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">View invoices list of parts.</h6>
                            <h2 class="m-t-0 text-white">Invoices list</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-primary">
                <div class="card-body">
                    <a class="d-flex no-block" href="Items/Create">
                        <div class="m-r-20 align-self-center"><span class="glyphicon text-white glyphicon-compressed" aria-hidden="true"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">Add a new car</h6>
                            <h2 class="m-t-0 text-white">Add car</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-danger">
                <div class="card-body">
                    <a class="d-flex no-block" href="Items">
                        <div class="m-r-20 align-self-center"><span class="glyphicon text-white glyphicon-list" aria-hidden="true"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">All available cars list</h6>
                            <h2 class="m-t-0 text-white">Cars list</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-dark">
                <div class="card-body">
                    <a class="d-flex no-block" href="Accounts">
                        <div class="m-r-20 align-self-center"><span class="glyphicon text-white glyphicon-user" aria-hidden="true"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">Customers, Supliers,..</h6>
                            <h2 class="m-t-0 text-white">Accounts</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-megna">
                <div class="card-body">
                    <a class="d-flex no-block" href="Banks">
                        <div class="m-r-20 align-self-center"><span class="glyphicon text-white glyphicon-lock" aria-hidden="true"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">Banks and money cache boxes</h6>
                            <h2 class="m-t-0 text-white">Banks</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-success">
                <div class="card-body">
                    <a class="d-flex no-block" href="Payments">
                        <div class="m-r-20 align-self-center"><span class="glyphicon text-white glyphicon-bitcoin" aria-hidden="true"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">Payments receipts list</h6>
                            <h2 class="m-t-0 text-white">Payments</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-warning">
                <div class="card-body">
                    <a class="d-flex no-block" href="Payments/Create">
                        <div class="m-r-20 align-self-center"><span class="glyphicon text-white glyphicon-plus" aria-hidden="true"></span></div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">Add a new payments</h6>
                            <h2 class="m-t-0 text-white">Add payments</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-grey">
            <div class="card-body">
                <a class="d-flex no-block" href="Invoices/Create">
                    <div class="m-r-20 align-self-center"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></div>
                    <div class="align-self-center">
                        <h6 class="m-t-10 m-b-0">Total cache</h6>
                        <h2 class="m-t-0">987,563</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item active">
                Daily transaction report
                <span class="badge">150</span>
            </a>
            <a href="#" class="list-group-item">Inventory <span class="badge">104</span></a>
            <a href="#" class="list-group-item">Sales analysis report</a>
            <a href="#" class="list-group-item">Purchase analysis report</a>
            <a href="#" class="list-group-item">Installments <span class="badge">14</span></a>
        </div>
    </div>
</div>

