@model PartStore.Core.StoreModels.Payments

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Payments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InvoiceId" class="control-label"></label>
                <select asp-for="InvoiceId" class="form-control" asp-items="ViewBag.InvoiceId"></select>
                <span asp-validation-for="InvoiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tax" class="control-label"></label>
                <input asp-for="Tax" class="form-control" />
                <span asp-validation-for="Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extra" class="control-label"></label>
                <input asp-for="Extra" class="form-control" />
                <span asp-validation-for="Extra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <select asp-for="AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTypeId" class="control-label"></label>
                <select asp-for="PaymentTypeId" class="form-control" asp-items="ViewBag.PaymentTypeId"></select>
                <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationId" class="control-label"></label>
                <select asp-for="OperationId" class="form-control" asp-items="ViewBag.OperationId"></select>
                <span asp-validation-for="OperationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromBankId" class="control-label"></label>
                <select asp-for="FromBankId" class="form-control" asp-items="ViewBag.FromBankId"></select>
                <span asp-validation-for="FromBankId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToBankId" class="control-label"></label>
                <select asp-for="ToBankId" class="form-control" asp-items="ViewBag.ToBankId"></select>
                <span asp-validation-for="ToBankId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddDate" class="control-label"></label>
                <input asp-for="AddDate" class="form-control" />
                <span asp-validation-for="AddDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddTime" class="control-label"></label>
                <input asp-for="AddTime" class="form-control" />
                <span asp-validation-for="AddTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefNo" class="control-label"></label>
                <input asp-for="RefNo" class="form-control" />
                <span asp-validation-for="RefNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
