.table {
    background-color: rgba(239, 239, 239, 0.33);
}

    .table td.edit, .table th.edit {
        padding: 0 !important;
    }


    .table tbody tr td, .table tfoot tr th {
        vertical-align: middle !important;
        line-height: 1.1;
    }

        .table tbody tr td .select2-container--bootstrap .select2-selection,
        .table tbody tr td select,
        .table tbody tr td input,
        .table tfoot tr th input {
            border-radius: 0;
            /*height: 43px;*/
        }

.itemdiv {
    padding-right: 3px;
    min-height: 64px;
    position: relative;
}

    .itemdiv .tools {
        width: 20px;
        position: absolute;
        left: -15px;
        top: 0;
        display: none;
    }

.table tbody tr:hover .itemdiv .tools,
.table tbody tr td:hover .itemdiv .tools {
    display: block;
}

.table tbody tr td:first-child,
.table tbody tr td:last-child {
    cursor: move;
}

.movable {
    position: absolute;
    right: -3px;
    top: 10px;
    color: #c2c2c2;
}

.table .select2-container--bootstrap .select2-selection,
.table .form-control {
    border: 1px solid #fff;
}

.choices__inner:focus,
.form-control:focus {
    border-color: #41c6fd;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 0 8px rgba(102, 175, 233, .7);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 0 8px rgba(102, 175, 233, .7);
}
