/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'DroidArabicKufiRegular';
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-inverse,
.navbar-inverse .container {
    background-color: #5f5f5f;
    border-color: #5f5f5f;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

    .navbar-inverse a {
        color: #dadada;
    }

/*dashboard*/
.page-titles {
    background: rgba(255, 255, 255, 0.96);
    margin-bottom: 20px;
    padding: 0px;
}

.card {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.card-no-border .card {
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-no-border .shadow-none {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-outline-danger,
.card-outline-info,
.card-outline-warning,
.card-outline-success,
.card-outline-primary {
    background: #ffffff;
}

.card-fullscreen {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;
}

.card-group {
    margin-bottom: 30px;
}

.card {
    margin-bottom: 30px;
}

    .card .card-subtitle {
        font-weight: 300;
        margin-bottom: 15px;
        color: #99abb4;
    }

    .card .card-title {
        position: relative;
    }

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

    .card-body span.glyphicon {
        font-size: 4em;
    }

    .card-body a {
        text-decoration: none;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s;
        opacity: 1;
    }

        .card-body a:hover {
            opacity: 0.8;
        }

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

html body .m-r-20 {
    margin-left: 20px;
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

html body .m-b-0 {
    margin-bottom: 0px;
}

html body .m-t-10 {
    margin-top: 10px;
}

.text-white {
    color: #ffffff !important;
}

.bg-info {
    background-color: #398bf7 !important;
}

.bg-success {
    background-color: #06d79c !important;
}

.bg-primary {
    background-color: #745af2 !important;
}

.bg-danger {
    background-color: #ef5350 !important;
}

.bg-warning {
    background-color: #ffb22b !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-megna {
    background-color: #56c0d8;
}

.bg-grey {
    background-color: #f4f6f9;
}

@media (min-width: 768px) {
    .card-group .card:first-child,
    .card-group .card:not(:first-child):not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.03);
    }
}
/*dashboard*/
/*logo*/
.navbar-brand {
    padding: 5px 15px;
}

.logo img {
    max-width: 40px;
}

@media print {
    .noprint {
        display: none
    }
}

/*fix rtl datetimepicker*/
.datepicker-dropdown {
    max-width: 300px;
}

.datepicker {
    float: right
}

    .datepicker.dropdown-menu {
        right: auto
    }
/*fix daatbels rtl*/
div.dataTables_wrapper div.dataTables_paginate,
div.dataTables_wrapper div.dataTables_filter {
    text-align: left!important;
}
/*fix home card title*/
h2.m-t-0{font-size:20px;}
.form-control {
    padding: 2px 12px;
}